sass_binary_site=https://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
chromedriver_cdnurl=http://cdn.npmmirror.com/dist/chromedriver
electron_mirror=https://npmmirror.com/mirrors/electron
registry=https://registry.npmmirror.com
